* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.fdr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: fixed;
    top: -72px;
    width: 100%;
    border-bottom: 3px solid 1e266d;
    box-shadow: 0 4px 10px #1e266d;
    transition: all 1s;
    background-color: #fff;

    .menu-item {
        padding: 10px;
        text-align: center;

        a {
            color: #1e266d;
        }
    }
}

.menu-active {
    animation: fadeInDown 1s both;
}

.nav {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 16px;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 10px #667abb;

    &::after {
        content: "";
        clear: both;
        display: block;
    }

    .span-wrapper {
        width: 80%;
        margin: 0 auto;
        max-width: 1200px;

        img {
            float: left;
            height: 41px;
        }

        span {
            float: right;
            line-height: 16px;
        }
    }

    a {
        color: #1e266d;
        padding: 10px 12px;
        display: inline-block;

        &:hover {
            color: #ff6c02;
            transition: all 0.2s ease;
        }
    }

    .inline {
        display: inline;
        font-size: 14px;
        line-height: 40px;
    }

    .hamburger {
        float: right;
        margin-top: 3px;
        height: 35px;
        width: 35px;
        background-color: #fff;
        border-radius: 3px;
        position: relative;
        box-shadow: 0 0 3px #000;
        display: none;

        .hamburger-line {
            width: 29px;
            height: 3px;
            background-color: #000;
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            box-shadow: 0 8px #000, 0 -8px #000;
        }
    }
}

.header {
    height: 500px;
    padding: 150px 0 200px;
    // background-image: url("../img/header-background02.png");
    background-image: url("../img/bg2.png");
    background-color: rgb(19, 11, 68);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .header-content {
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0 15px;
        max-width: 1200px;
    }

    h1 {
        font-size: 3.25rem;
        line-height: 4rem;
        // color: #1e266d;
        // color: rgb(102, 184, 255);
        color: #fff;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.625rem;
        // color: #1e266d;
        color: #fff;
        // text-shadow: 0 0 20px red;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: #ccc;
    }

    .link {
        border: 1px solid #fff;
        font-size: 0.825rem;
        text-decoration: none;
        display: inline-block;
        padding: 17px 42px;
        border-radius: 50px;
        color: #000;
        transition: all 0.2s;
        background-color: #fcba4a;

        &:hover {
            background-color: #fff;
            color: #fcba4a;
        }
    }

    .header-h3 {
        position: absolute;
        bottom: 50px;
        color: #fff;
    }
}

.intro {
    width: 1110px;
    margin: 0 auto;
    padding: 154px 0 100px;

    .img-wrapper {
        width: 635px;
        box-sizing: border-box;
        padding: 0 15px;

        img {
            width: 100%;
            animation: fadeInLeft 2s;
        }
    }

    .intro-content {
        animation: fadeInRight 2s;
        width: 475px;
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 35px;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.625rem;
        color: #1e266d;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 30px;
    }

    a {
        border: 1px solid #fcba4a;
        font-size: 0.825rem;
        text-decoration: none;
        display: inline-block;
        padding: 17px 42px;
        border-radius: 50px;
        // color: #ff6c02;
        color: #fcba4a;
        transition: all 0.2s;

        &:hover {
            background-color: #fcba4a;
            color: #ffffff;
        }
    }
}

.footer {
    padding: 152px 15px 136px;
    text-align: center;
    background-image: url(../img/world.svg);
    background-color: #267ec2;
    background-position: center center;
    background-size: cover;

    h2 {
        margin-bottom: 1.5rem;
        color: #1e266d;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.625rem;
        color: #fff;
    }

    p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-bottom: 1.875rem;
        color: #fff;
    }

    a {
        border: 1px solid #fff;
        font-size: 1rem;
        text-decoration: none;
        display: inline-block;
        padding: 17px 42px;
        border-radius: 50px;
        color: #fcba4a;
        transition: all 0.2s;
        color: #fff;

        &:hover {
            // background-color: #ff6c02;
            // color: #ffffff;
            background-color: #fcba4a;
            color: #fff;

        }
    }

    h3 {
        line-height: 1.2;
        color: #fff;

        &:last-of-type {
            margin-bottom: 30px;
        }
    }
}

.slider {
    padding: 160px 15px 200px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;

    .slick-list {
        margin-top: 100px;
    }

    h2 {
        color: #1e266d;
        font-size: 2rem;
        line-height: 2.625rem;
        margin-bottom: 24px;
    }

    p {
        margin-bottom: 1.875rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 100%;
    }

    .carousel {
        width: 100%;
        padding-left: 22px;
        margin: 0 auto;
    }
}

.sliderx1 {
    background-color: rgb(235, 235, 235);
}

.sliderx2 {
    background-color: rgb(235, 235, 235);
    display: none;
}

.top {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #000;
    display: none;
    background: #515867 url("../img/up-arrow.png") no-repeat center 47%;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}

// 平板
@media screen and (max-width:992px) {
    .header {
        text-align: center;

        .header-h3 {
            position: static;
            text-align: center;
            margin-top: 40px;
        }
    }

    .intro {
        flex-direction: column;
        justify-content: center;
        width: auto;

        .img-wrapper {
            margin-bottom: 56px;
        }

        .intro-content {
            width: 80%;
        }

        a {
            margin: 0 auto;
            // display: block;
            text-align: center;
            width: 52px;
            height: 16px;
        }
    }

    .link {
        margin: 0 auto;
        display: inline-block;
    }
}

@media screen and (max-width:850px) {
    .nav .span-wrapper span {
        display: none;
    }

    .nav .hamburger {
        display: block;
    }

    .intro {
        .img-wrapper {
            width: 80%;
        }
    }
}

@media screen and (max-width:576px) {
    .nav .span-wrapper {
        width: 100%;
    }

    .header {
        width: 100%;

        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.75rem;
        }

        p {
            font-size: 1rem;
        }

        .header-content {
            width: 100%;
        }
    }

    .intro {
        .img-wrapper {
            width: 95%;
        }

        .intro-content {
            width: 95%;
        }
    }
}





@media screen and (max-width:1600px) {
    .slider {
        .carousel {
            padding-left: 22px;
            margin: 0 auto;
        }

        .slick-slide {
            img {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .slider {
        .carousel {
            padding-left: 22px;
            margin: 0 auto;
        }

        .slick-slide {
            img {
                width: 200px;
            }
        }
    }
}

@media screen and (max-width:1050px) {
    .slider {
        .carousel {
            padding-left: 22px;
            margin: 0 auto;
        }

        .slick-slide {
            img {
                width: 150px;
            }

            p {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .sliderx1 {
        display: none;
    }

    .sliderx2 {
        display: block;
        text-align: center;
        padding-bottom: 20px;

        p {
            box-sizing: border-box;
        }


        h2 {
            color: #1e266d;
            font-size: 2rem;
            line-height: 2.625rem;
            margin-bottom: 24px;
            padding: 20px 15px 0;
        }

        p {
            padding: 0 15px;
            margin-bottom: 1.875rem;
            font-size: 1.125rem;
            line-height: 1.75rem;
            width: 100%;
        }

        hr {
            margin-bottom: 100px;
        }
    }


    .footer {
        h2 {
            color: #fff;
        }

        h3 {
            font-size: 16px;
            color: #fff;
        }

        p {
            font-size: 14px;
            color: #fff;
        }
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInDown {
    0% {
        // +6
        top: -72px;
    }

    100% {
        top: 57px;
    }
}

.x {
    top: 57px;
}

#two {
    margin-bottom: 50px;
}

@media screen and (max-width:400px) {
    .header .header-h3 {
        margin-top: 20px;
    }
}